//- Timeline Icon Legend Component
//- 可重複使用的時間軸圖示說明組件（可用 JS 動態渲染）

.timeline-icon-legend
  .legend-items-container
    .legend-item
      .legend-icon
        img(src="./images/icon-description-node-complet.png", alt="Executed")
      .legend-text Executed
    
    .legend-item
      .legend-icon
        img(src="./images/icon-description-node-processing-DOM.png", alt="On the Road")
      .legend-text On the Road
    
    .legend-item
      .legend-icon
        img(src="./images/icon-description-node-processing-ImportAndExport.png", alt="In Transit")
      .legend-text In Transit
    
    .legend-item
      .legend-icon
        img(src="./images/icon-description-node-pending.png", alt="Pending")
      .legend-text Pending
    
    .legend-item
      .legend-icon
        img(src="./images/icon-description-node-acompishment.png", alt="Task Completed")
      .legend-text Task Completed
    
    .legend-item
      .legend-icon
        img(src="./images/icon-description-node-tailormed-mark.png", alt="Shipment Delivered")
      .legend-text Shipment Delivered
    
    .legend-item
      .legend-icon
        img(src="./images/icon-description-node-tbd.png", alt="To be Determined")
      .legend-text To be Determined
    
    .legend-item
      .legend-icon
        img(src="./images/icon-dryice.svg", alt="Dry ice Refilled")
      .legend-text Dry ice Refilled


